<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're almost there!</h1>
    <p>
      Just follow this link to complete your email subscription: <%= @confirm_url %>.
    </p>
    <p>Thanks for your interest in 3DEasy.co, and have a great day!</p>
    <p>
      If you didn't subscribe to 3DEasy just ignore this message or follow this link if you don't want to ever receive emails from us: <%= @unsubscribe_url %>.
    </p>
  </body>
</html>
