<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're almost there!</h1>
    <p>
      To complete your email subscription, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your interest in 3DEasy.co, and have a great day!</p>
  </body>
</html>
