<h1>Your email has been confirmed already</h1>

<p>
  Don't worry, your confirmation is complete.
</p>
<p>
  Take this 20% surprise cupon so you can <a href="/printing_sets">start shopping right away</a>! Cupon code: <b>DOGEAMAZE</b>
</p>
<p>
    Have a shibe day,</br>
    3DEasy.co
</p>
