<h1>3DEasy.co Email Unsubscription</h1>

<p>
  You have been unsubscribed from our mailing list. If you want to subscribe again, just <a href="http://3deasy.co/users/sign_up">create an account</a>.
</p>

<p>
    much sad</br>
    not wow</br>
    3DEasy.co
</p>
