<div class="ui centered page grid">
  <div class="fourteen wide column">
    <div class="ui three column center aligned stackable divided grid">
      <div class="column column-feature">
        <div class="ui icon header">
          <i class="gift icon"></i>
          Shop 3D Prints
        </div>
        <p>From cool gifts for your friends to useful household items.</p>
        <p>
          <a class="ui button" href="/printing_sets">
            Get Started
          </a>
        </p>
      </div>
      <div class="column column-feature">
        <div class="ui icon header">
          <i class="truck icon"></i>
          We Ship Worldwide
        </div>
        <p>It doesn't matter in which country you live. We can ship there.</p>
        <p>
          <a class="ui green button" href="/printing_sets">
            Start Shopping Now!
          </a>
        </p>
      </div>
      <div class="column column-feature">
        <div class="ui icon header">
          <i class="paw icon"></i>
          Pay With Dogecoin
        </div>
        <p>Shop using the most modern and fun currency in the world.</p>
        <p>
          <a class="ui button" href="/printing_sets">
            wow!
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
