<div class="ui recent-works vertical segment">
  <div class="ui very relaxed stackable centered page grid">
    <div class="row">
      <div class="eight wide centered column">
        <h1 class="center aligned ui inverted header">
          Featured Items
        </h1>
        <div class="ui horizontal divider"><i class="white flaticon-camera icon"></i></div>
        <p class="ui centered lead">Check Out Our <br> Customers Favourite Items!</p>
      </div>
    </div>
  </div>
  <div class="fourteen wide column">
    <div class="ui three column aligned stackable divided grid centered">
      <%= render '/printing_sets/printing_set_cards' %>
    </div>
  </div>
</div>
