<div class="ui inverted footer vertical segment center">
  <div class="ui stackable center aligned page grid">
    <div class="four column row">
      <div class="column">
        <h5 class="ui inverted header">Development</h5>
        <div class="ui inverted link list">
          <a class="item" href="http://rosalilastudio.com">Our Blog</a>
          <a class="item" href="https://github.com/Rosalila/ThreeDEasy">Github</a>
        </div>
      </div>
      <div class="column">
        <h5 class="ui inverted header">About Dogecoin</h5>
        <div class="ui inverted link list">
          <a class="item" href="http://dogecoin.com/">Get Started</a>
        </div>
      </div>
      <div class="column">
        <h5 class="ui inverted header">Landing Page Template</h5>
        <div class="ui inverted link list">
          <a class="item" href="http://scripteden.com/">By Script Eden</a>
        </div>
      </div>
    </div>
  </div>
</div>
