<div class="ui vertical segment">
  <div class="ui stackable center aligned page grid">


    <div class="row">
      <div class="eight wide column">
        <h1 class="ui header">
          Our Clients
        </h1><div class="ui horizontal divider"><i class="flaticon-settings icon"></i></div>
          <p class="ui centered lead">
          Many Shiba Inus rely in our plastic delivery factory
          </p>
        <br>
      </div>
    </div>

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="/img/testimonials/shibe1.jpg">
    </div>
    <div class="content">
      <div class="header">
        <i>"Thanks, my order arrived a few days ago. The kids and me like it. It wil serve as the keychain ;) Much thanks and To <sup>The<sup>Moon<sup>Together</sup></sup></sup>"</i><br>
      </div>
      <div class="description">
        to-the-moon-de
        <div class="meta">
          <span class="date">Redditor and creator of <a href='http://www.to-the-moon.de/moonpledge'>to-the-moon.de</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/img/testimonials/shibe2.jpg">
    </div>
    <div class="content">
      <div class="header"><i>"Came back from vacation to a such fun package--thanks 3DEasy!"</i></div>
      <div class="description">
        ChateauLafite1827
        <div class="meta">
          <span class="date">Redditor</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
