<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <div class="right item">
				  <% if !current_user %>
  	        <%= link_to "Log in", new_user_session_path, class: 'ui inverted button' %>
  	        <%= link_to "Sign up", new_user_registration_path, class: 'ui inverted button' %>
					<% else %>
	    		  <%= link_to destroy_user_session_path, :method => :delete, :class => "ui inverted button" do %>Sign out<%end%>
					<% end %>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        3DEasy.co
      </h1>
      <h2>Shop 3D prints easily using Dogecoins.</h2>
      <a href="/printing_sets">
	      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
			</a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Shop 3D Prints</h3>
          <p>From cool gifts for your friends to useful household items.</p>
          <h3 class="ui header">We Ship Worldwide</h3>
          <p>It doesn't matter in which country you live. We can ship there.</p>
          <h3 class="ui header">Pay With Dogecoin</h3>
          <p>Shop using the most modern and fun currency in the world.</p>
        </div>
        <div class="six wide right floated column">
          <img src="/img/wow.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <%= link_to "Start Shopping Now", printing_sets_path, class: 'ui huge button' %>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">New to Dogecoin?</h3>
      <p>Dogecoin is a decentralized crypto currency for Shiba Inus. It's very easy and fun to use.</p>
      <a class="ui large button" href="http://dogecoin.com/">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">About us</a>
      </h4>
      <h3 class="ui header">Who we are</h3>
      <p>We work on open and free as in freedom projects that we would love to use.</p>
      <a class="ui large button" href="http://rosalilastudio.com">Read our Blog</a>
    </div>
  </div>


  <div class="ui inverted vertical footer segment">
<!--
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
-->
  </div>
</div>
