<p id="notice"><%= notice %></p>

<%= render 'add_printing_set_modal' %>

<!--
<input type="button" class="positive ui button" value="New printing set" onClick="$('.ui.printing_set.modal').modal('show');"/>
-->

<h4 class="ui horizontal divider header">
  <i class="list icon"></i>
  Items
</h4>

<%= render '/printing_sets/printing_set_cards' %>

<%= render '/home/cupon_form' %>
