<!DOCTYPE html>
<html>
  <head>
    <title>3DEasy.co</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="/semantic/components/transition.css"/>
    <link rel="stylesheet" href="/semantic/components/dimmer.css"/>
    <link rel="stylesheet" href="/semantic/components/modal.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/semantic/components/transition.min.js"></script>
    <script src="/semantic/components/dimmer.min.js"></script>
    <script src="/semantic/components/modal.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
		<style type="text/css">
		  body {
		    background-color: #DADADA;
		  }
		  body > .grid {
		    height: 100%;
		  }
		  .image {
		    margin-top: -100px;
		  }
		  .column {
		    max-width: 450px;
		  }
		</style>
  </head>

  <body>
		<div class="ui middle aligned center aligned grid">
		  <div class="column">
    		<%= yield %>
			</div>
		</div>
  </body>
</html>
